.inventory-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 120, 120);
}

.header-bar {
    background-color: #332d2d;
    padding: 20px;
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.category-section {
    flex: 1;
    color: white;
    background-color: #332d2d;
    padding: 20px;
    margin-right: 20px;
}

.categories {
    margin-bottom: 20px;
}

.categories h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.categories button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categories button:hover {
    background-color: #e0e0e0;
}

.product-list {
    display: flex;
    flex: 3; /* Let product list take more space */
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.product-item {
    flex-basis: calc(33.33% - 20px); /* Make each product item take one-third of the available space with some spacing */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 14px;
    margin-bottom: 5px;
}

.product-item button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #e66153;
}
