/* signup.css */

/* Overall container styles */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff; /* Primary background color */
    height: 100vh;
}

/* Form container styles */
.form-container {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px;
    width: 25%;
}

/* Heading styles */
.form-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Error message styles */
.error-message {
    color: #dc3545; /* Red color for error messages */
}

/* Input field styles */
.input-field {
    margin-bottom: 15px;
    border-radius: 0;
}

/* Button styles */
.submit-btn {
    width: 100%;
    border-radius: 0;
}

/* Link styles */
.link-btn {
    margin-top: 10px;
    width: 100%;
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 0;
    text-decoration: none !important;
}
